article {
    border-radius: 5%;
    border: 1px, solid, #ec6a6a;
    padding: 5%;
    margin: 5%;
    line-height: 1.5;
    max-width: fit-content;
}

img {
    max-width: 100%;
    border-radius: 5%;
}

section {
    /* background-color: rgb(247, 197, 197); */
}