.delete-button-section{
    display: inline-flex;
    /* justify-content: space-between; */
    margin-left: 33.2vw;
}

.delete {
    border: none;
}

.delete:hover{
    cursor: pointer;
    color: #ec6a6a ;
}

.delete:disabled {
    color: #ec6a6a ;
}