.loading button[disabled], .loading button:disabled{
    /* border: 1px solid black; */
    background-color: #646464;
    padding: 15px 20px;
  }

.loading button[disabled]:hover,.loading button:disabled:hover{
    background-color: #646464
  }

.delete-button-loading {
  border: none;
}

.delete-button-loading:hover {
  cursor: pointer;
  color: #4e4ef3;
}

.delete-button-loading:disabled {
  color: #4e4ef3;
}